.project_card {
  padding: 1em;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  width: 24%;
  margin-bottom: 1em;
}

.project_card h4 {
  background-color: #222;
  color: #ffbb33;
  padding: 0.4em;
  margin-bottom: 1.3em;
  font-size: 1.3em;
}

.project_card p {
  color: #7a7a7a;
}

.project_card p span {
  font-weight: bold;
}

.project_card_actions {
  margin-top: 1.2em;
  display: flex;
  align-items: center;
}

.project_card_actions a,
.project_card_actions button {
  text-decoration: none;
  border: none;
  background-color: #fff;
  color: #222;
  font-size: 0.9em;
  padding: 0.6em 1em;
  margin-right: 1em;
  cursor: pointer;
  border: 1px solid #222;
  transition: 0.5s;
}

.project_card_actions a:hover,
.project_card_actions button:hover {
  background-color: #222;
  color: #ffbb33;
}
